@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin:0;
    padding:0;
}

body{
    display: flex;
    flex-direction: column; /* Устанавливаем вертикальное расположение */
    justify-content: flex-start; /* Оставляем элементы вверху */
    align-items: center; /* Центрируем по горизонтали */
    min-height: 100vh;
    background-image: url(images/red-dead-redemption-2-silhouette-art.jpg);
    background-attachment: fixed;
}
.wrapper {
    width:1350px;
    margin-left: 100px;
    margin-right: 100px;
    background:transparent;
    opacity:1;
    border:2px solid rgba(255, 255, 255, .2);
    color: aliceblue;
    border-radius: 10px;
    padding: 10px 35px;
    margin: 0 auto; /* Центрируем блок */
}
.wrapper .item{
    font-family: Nunito;
    padding:15px 0;
}
.wrapper .item .names{
    width:50%;
    float:left;
    padding: 15px 0;
}
.wrapper .item .prices{
    width:15%;
    text-align: right;
    float:left;
    padding: 15px 0;
    margin-left: 30%;
}

.wrapper hr{
    width:90%;
}
.upload-form {
    font-family: Nunito;
    width: 100%;
    margin-bottom: 20px;
    
}
#lab {
    font-family: Nunito;
    
}
#checkCount {
    font-family: Nunito;
    text-align: justify;
}
#xmlFile {
    font-family: Nunito;
    
}
#loading-message{
    font-family: Nunito;
    
    
}
