@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin:0;
    padding:0;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(images/red-dead-redemption-2-silhouette-art.jpg);
    background-attachment: fixed;
}
.wrapper {
    width:1350px;
    margin-left: 100px;
    margin-right: 100px;
    background:transparent;
    opacity:1;
    border:2px solid rgba(255, 255, 255, .2);
    color: aliceblue;
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper .item{
    font-family: Nunito;
    padding:15px 0;
}
.wrapper .item .names{
    width:50%;
    float:left;
    padding: 15px 0;
}
.wrapper .item .prices{
    width:15%;
    text-align: right;
    float:left;
    padding: 15px 0;
    margin-left: 30%;
}

.wrapper hr{
    width:90%;
}